/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.9em;
  color: #7F7F8E;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FAFAFA;
  text-align: center;
}

.site-content{
  flex: 1;
}

p{
  font-size: 1.4em;
  margin-bottom: 1.9em;
}

h1,
h2,
h4,
.main-nav a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

h1,
h2,
h3,
a {
	color: #222222;
}

h2{
  margin-bottom: 3em;
}

h2,
h4{
  text-transform: uppercase;
  font-size: 1.4em;
}

h3{
  font-size: 1.6em;
}


a {
	text-decoration: none;
}

img {
	max-width: 100%;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.container,
.main-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-nav li{
  background-color: white;
  margin-bottom: .5em;
  width: 100%;
  
}

.main-nav a{
  display: block;
  padding: 1em;
  font-size: 1.1em;
  text-transform: uppercase;
}

.main-nav a:hover {
	color: #093b58;
}

.name{
  font-size: 2.5em;
  padding: .2em 1em;
}

/* ---- Layout Containers ---- */

.main-header{
  padding: 0 1.5em 2.5em 1.5em;
}

.profile{
  padding: 1.5em .5em
}

.portfolio{
  display: flex;
  flex-direction: column;
  padding: 3em 1.5em 1.5em 1.5em;
  background-color: white;
}

.item{
  margin-bottom: .8em;
}

.main-footer{
  padding: 3.5em 1.5em 0 1.5em;
}

.footer-nav{
  display: flex;
  align-items: center;
}

/* ---- Page Elements ---- */
.profile-photo{
  width: 65%
}

.profile p{
  padding: .5em .5em
}

.item img{
  margin-bottom: .5em;
}

.footer-name{
  margin-right: auto;
  font-size: 1.5em;
}

hr{
  margin-top: 4em;
}

/* ================================= 
  Media Queries
==================================== */

